.element {
  &__item {
    display: flex;

    &-property {
      width: 60px;
      text-transform: uppercase;
      order: 1;
    }

    &-value {
      text-align: left;
      border-right: 0 !important;
      padding-left: 1px !important;
      order: 3;
    }

    &-status {
      order: 2;
      padding-left: 1px !important;
    }

    &--warning {
      color: #c54537;
    }

    &--suspicius {
      color: #e1b926;
    }

    &--normal {
      color: #000000;
    }

    &--modified {
      color: #1f974a;
    }

    &--forced {
      color: #990f00;
    }
  }
}
