@import "../../../styles/variables.scss";

$map-container-height: 300px;

.map-container {
  height: $map-container-height;
  @media (min-width: $tablet-breake-point) {
    height: 2* $map-container-height;
  }
}

:host {
  @media (min-width: $tablet-breake-point) {
    margin-right: 15px;
    width: calc(100% / 2.62);
  }

}
