$mobile-breake-point: 768px;
$tablet-breake-point: 1024px;
$desktop-breake-point: 1824px;

$primary-color: #0065A2;
$secondary-color: #074A8B;
$application-gray-color: #C6C8C9;
$primary-color-chn:#DF2407;

$primary-font-color: #0065A2;
$secondary-font-color:#074a8b;
$minor-fontcolor:#03396d;
$normal-font-color: #333333;

$global-margin: 25px;
$global-margin-small: 15px;

$border-color: rgba(0, 0, 0, .12);
$border-color-lighter: rgba(0, 0, 0, .06);

$jrc-red: #c54537;
$jrc-orange:#e6a500;
$jrc-green:#006243;
$white: #ffffff;
