<div class="server-area">
  <div class="server-table">

    <div class="labels">
      <div class="server-table-cell server-table-label">Region</div>
      <div class="server-table-cell">Weakcheck</div>
      <div class="server-table-cell">HeavyCheck</div>
      <div class="server-table-cell">ThresholdCheck</div>
      <div class="server-table-cell">Sfile generated</div>
    </div>
    <div class="server-table-eu">
      <div class="server-table-cell server-table-label">EU</div>
      <div class="server-table-cell">
        <span class="server-file-missing" *ngIf="isStatusNotRecived">❔</span>
        <span class="server-file-not-ready" *ngIf="isStepNotFoud('Weakcheck', 'EUR')">✖</span>
        <span class="server-file-ready" *ngIf="getStatusForStep('Weakcheck', 'EUR')"> ✔</span>
      </div>
      <div class="server-table-cell">
        <span class="server-file-missing" *ngIf="isStatusNotRecived">❔</span>
        <span class="server-file-not-ready" *ngIf="isStepNotFoud('HeavyCheck', 'EUR')"> ✖</span>
        <span class="server-file-ready" *ngIf="getStatusForStep('HeavyCheck', 'EUR')"> ✔</span>
      </div>
      <div class="server-table-cell">
        <span class="server-file-missing" *ngIf="isStatusNotRecived">❔</span>
        <span class="server-file-not-ready" *ngIf="isStepNotFoud('ThresholdCheck', 'EUR')"> ✖</span>
        <span class="server-file-ready" *ngIf="getStatusForStep('ThresholdCheck', 'EUR')"> ✔</span>
      </div>
      <div class="server-table-cell">
        <span class="server-file-missing" *ngIf="isStatusNotRecived">❔</span>
        <span class="server-file-not-ready" *ngIf="isStepNotFoud('Sfile', 'EUR')"> ✖</span>
        <span class="server-file-ready" *ngIf="getStatusForStep('Sfile', 'EUR')"> ✔</span>
      </div>
    </div>
    <div class="server-table-chn">
      <div class="server-table-cell server-table-label">CHN</div>
      <div class="server-table-cell">
        <span class="server-file-missing" *ngIf="isStatusNotRecived">❔</span>
        <span class="server-file-not-ready" *ngIf="isStepNotFoud('Weakcheck', 'CHN')"> ✖</span>
        <span class="server-file-ready" *ngIf="getStatusForStep('Weakcheck', 'CHN')"> ✔</span>
      </div>
      <div class="server-table-cell">
        <span class="server-file-missing" *ngIf="isStatusNotRecived">❔</span>
        <span class="server-file-not-ready" *ngIf="isStepNotFoud('HeavyCheck', 'CHN')"> ✖</span>
        <span class="server-file-ready" *ngIf="getStatusForStep('HeavyCheck', 'CHN')"> ✔</span>
      </div>
      <div class="server-table-cell">
        <span class="server-file-missing" *ngIf="isStatusNotRecived">❔</span>
        <span class="server-file-not-ready" *ngIf="isStepNotFoud('ThresholdCheck', 'CHN')"> ✖</span>
        <span class="server-file-ready" *ngIf="getStatusForStep('ThresholdCheck', 'CHN')"> ✔</span>
      </div>
      <div class="server-table-cell">
        <span class="server-file-missing" *ngIf="isStatusNotRecived">❔</span>
        <span class="server-file-not-ready" *ngIf="isStepNotFoud('Sfile', 'CHN')"> ✖</span>
        <span class="server-file-ready" *ngIf="getStatusForStep('Sfile', 'CHN')"> ✔</span>
      </div>
    </div>
  </div>
</div>
