<div class="component">

  <div class="component__filtering">

    <div class="component__filtering-item component__filtering-item--first">
      EUR
      <mat-slide-toggle [checked]="sliderChecked" class="example-margin" (change)="changeSelectedCountry($event)">
      </mat-slide-toggle>
      CHN
    </div>
    <form [formGroup]="form">
      <mat-form-field class="picker">
        <input matInput placeholder="Choose a date" [satDatepicker]="picker2"
          (dateChange)="inlineRangeChange($event)">
        <sat-datepicker #picker2 [rangeMode]="true">
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
      </mat-form-field>
    </form>
    <mat-form-field class="flow--select">
      <mat-label>MARS - QUACKME Run</mat-label>
      <mat-select (selectionChange)="loadSelectedFlow($event)" [(value)]="selectedFlow">
        <mat-option *ngFor="let flow of storedFlows" [value]="flow"> {{flow.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="component__filtering--run">
     <!--  <div class="component__filtering-item component__filtering-item--last component__filtering-item--button">
        <button mat-raised-button (click)="runScript('rerun')" class="send__action"
          [disabled]="isRerunStepDisable()">RERUN STEP</button>
      </div> -->
      <div class="arrow__wrapper">
        <img class="arrow__image" src="assets/images/arrow.png" alt="" (click)="toggleFileInput()"
          [ngClass]="isExpanded ? 'arrow__image--top': 'arrow__image--down'">
      </div>
    </div>
  </div>
  <div class="component__table" *ngIf="isExpanded">
    <app-server-flow-status></app-server-flow-status>
    <app-file-list [dataSource]="dataSource" [displayedColumns]="displayedColumns" [selection]="selection"
      [selectedFile]="selectedFile" (emittChangeSelectedFile)="changeSelectedFile($event)">
    </app-file-list>
  </div>
</div>
