* {
    display: block;
}

.dashboard {
  &__wrapper {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    left:0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;

    &-element {
      left: 0;
      left: calc(50% - 45px);
      position: absolute;
      top: calc(50vh - 45px);
      z-index: 9999;
    }
  }
}

