<div class="container-historic">
  <form class="example-form" [formGroup]="form">
    <section class="form-section">
      <h3> Please select a file to upload</h3>
    </section>
    <section class="form-section">
      <mat-form-field>
        <mat-label>Select a region</mat-label>
        <mat-select (selectionChange)="changeSelectedCountry($event)" [(value)]="country">
          <mat-option value="EUR">EUR</mat-option>
          <mat-option value="CHN">CHN</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="form-section">
      <label for="file-select" class="file-label">Select a file</label>
      <div class="custom-field">
        <button (click)="fileInput.click()" class="file-btn">
          <span>Select</span>
          <input #fileInput type="file" name="file-select" (change)="onFileInput($event)" style="display:none;"
            accept=".csv" />
        </button>
        <span class="label-small" *ngIf="fileName.length!==0"> Selected file: {{ fileName}}</span>
      </div>
    </section>
    <section class="form-section vertical">
      <button type="submit" [disabled]="!form.valid" class="file-btn" (click)="onSubmit($event)">Send</button>
    </section>
  </form>
</div>
