<div class="alert">
  <div class="alert__properies">
    <div class="alert__wrapper" *ngFor="let alert of observation.alerts">
      <div *ngIf="alert.property === alertProperty" class="alert__labels">
        <div>Level: {{alert?.level}}</div>
        <div>Property: {{alert?.property}}</div>
        <div>Message: {{alert?.message}}</div>
        <div>Values: {{alert?.values}}</div>
        <div>Code: {{alert?.code}}</div>
      </div>
    </div>
  </div>
  <div class="alert__inputs">
    <div class="alert__values" [formGroup]="observationFormGroup" >
      <mat-form-field class="value__element-wrapper__input">
        <input matInput placeholder="{{alertProperty}}" appCustomInput type="text" formControlName="value"
          (change)="propagate()" [tabindex]="0"/>
      </mat-form-field>
      <div class="value__element-wrapper__label"></div>
      <mat-checkbox formControlName="status" (change)="propagate()" [disabled]="disabled">Accept value</mat-checkbox>
    </div>
  </div>
</div>
