<div class="map-options">
  <div class="action-row"> <button class="map-options__item" mat-raised-button (click)="saveValues()"
      [disabled]="isSaveDisable()">Save</button>
    <div class="fix-edition">
      <span>Show observation type</span>
      <mat-checkbox class="map-options__item fix-edition__item-top" [(ngModel)]="ModifiedAlerts"
        [checked]="ModifiedAlerts" (change)="triggerFiltration()">
        <span class="label">
          <span class="label__main">Modified </span>
        </span>
      </mat-checkbox>
      <mat-checkbox class="map-options__item fix-edition__item-bottom" [(ngModel)]="forcedAlerts"
        [checked]="forcedAlerts" (change)="triggerFiltration()">
        <span class="label">
          <span class="label__main">Accepted </span>
        </span>
      </mat-checkbox>
    </div>

    <button class="map-options__item" mat-raised-button (click)="goToUnchecked()" [disabled]="isLastUncheckedDisable()">
      Go To Not Edited Item
    </button>
  </div>
  <div class="information-row">
    <span>
      <span class="legend">S: {{counterData?.edited}} &#65372;
        <span class="legend__tooltip legend__tooltip--bottom">Number of saved element</span>
      </span>
      <span class="legend">E: {{editedCount}} &#65372;
        <span class="legend__tooltip legend__tooltip--bottom">Currently edited</span>
      </span>
      <span class="legend">C: {{counterData?.all}} &#65372;
        <span class="legend__tooltip legend__tooltip--bottom">Number of all item</span>
      </span>
      <span class="legend">P: {{selectedElementItem}} &#65372;
        <span class="legend__tooltip legend__tooltip--bottom legend__tooltip--bottom-last">Position of current
          element</span>
      </span>
      <span class="legend">F: {{filtratedItemCount}}
        <span class="legend__tooltip legend__tooltip--bottom legend__tooltip--bottom-last">Count of the filtrated
          item</span>
      </span>
    </span>
  </div>

</div>
<div class="stations mat-elevation-z8">
  <div class="filter">

    <mat-form-field class="filter-field">
      <input matInput (keyup)="applyFilter($event.target?.value)" placeholder="Filter" [(ngModel)]="searchValue"
        [disabled]="isFilterDisabled()">

      <div class="filter__buttons">
        <span class="map-options__item map-options__clear" *ngIf="!isFilteredButtonDisabled()" (click)="clearInput()">&#10005;</span>
        <button class="map-options__item" mat-raised-button (click)="undoChanges()" [disabled]="isSaveDisable()">
          Undo changes
        </button>
        <button class="map-options__item" mat-raised-button (click)="acceptAllSelectedObservations()"
          [disabled]="isFilteredButtonDisabled()">
          Accept all
        </button>
        <button class="map-options__item" mat-raised-button (click)="setAllObservationsToNA()"
          [disabled]="isFilteredButtonDisabled()">
          Set all to NA
        </button>
      </div>

    </mat-form-field>
    <div class="options" *ngIf="!isFilterDisabled()">
      <div class="options__elements" *ngIf="areOptionsExpanded ">
        <div class="options__elements-container">

          <button class="options__elements-item" *ngFor="let option of possibleCombinations" mat-raised-button
            (click)="applyFilter(option.stringTemplate)">
            {{option.property}}-{{option.code}}
          </button>
        </div>
      </div>
      <button class="options__toggle" mat-raised-button>
        <img class="options__toggle-image" src="assets/images/arrow.png" alt="" (click)="toggleOptions()"
          [ngClass]="areOptionsExpanded  ? 'options__toggle-image--top': 'options__toggle-image--down'">
      </button>

    </div>
  </div>

  <div class="stations--wrapper">
    <cdk-virtual-scroll-viewport class="example-viewport" (scrolledIndexChange)="displayedStation($event)"
      itemSize="460" minBufferPx="gridHeight" maxBufferPx="gridHeight"
      *ngIf="this.stationsSummaryDataService.selectedStation.length!=0" scroller>
      <div class="element" [ngClass]="checkIfNotTouched(element) ? 'element--checked': ''"
        *cdkVirtualFor="let element of dataSource" [tabindex]="0">
        <div class="element__station">
          <div class="element__station-label">
            <h2>STATION&#65372; <span style="font-weight: 500">{{element.station?.stationNumber}} &mdash;
                {{element.station?.stationName}}</span></h2>
          </div>
          <div class="element__station-information">
            <div class="element__station-information__item">country: {{element.station?.country}}</div>
            <div class="element__station-information__item">latitude: {{element.station?.latitude}}</div>
            <div class="element__station-information__item">longitude: {{element.station?.longitude}}</div>
            <div class="element__station-information__item">altitude: {{element.station?.altitude}}</div>
          </div>
        </div>
        <div class="element__observation">
          <div class="element__observation-label">
            <h2>OBSERVATION:</h2>
            <div class="element__observation-label__date">dayTime: {{customParseDate(element.observation?.dayTime)}}
            </div>
          </div>
          <div class="element__observation-wrapper">
            <div class="element__observation-column" *ngFor="let propertyGroup of propertyList">
              <table>
                <app-cell *ngFor="let propertyName of propertyGroup" [property]="propertyName" [elementObj]="element">
                </app-cell>
              </table>
            </div>
          </div>
        </div>
        <div class="element__alerts">
          <h2 *ngIf="element.observation?.alerts.length == 1">Alert:</h2>
          <h2 *ngIf="element.observation?.alerts.length > 1">Alerts:</h2>
          <div *ngFor="let alertProperty of alertAgregation(element.observation?.alerts)">
            <app-alerts [alertProperty]="alertProperty" [observation]="element.observation"
              [isEditingDisable]="isEditingDisable" (outputObj)="alertListner($event)">
            </app-alerts>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
    <div *ngIf="!this.isFileSelected" class="stations--wrapper__empty">
      <div class="country">
        <h1 class="country__information">
          {{nextPossibleStep()}}
        </h1>
        <img *ngIf="!isEUSelected" class="country__flag" src="assets/images/chn.png" alt="china flag" type="image/png">
        <img *ngIf="isEUSelected" class="country__flag" src="assets/images/eu.png" alt="EU flag" type="image/png">
      </div>
    </div>
    <div *ngIf="isFileFulfill()" class="stations--wrapper__empty">
      {{nextPossibleStep()}}
    </div>
  </div>
</div>
